/* ------------------------------------ skip navigation ------------------------------------ */
.skip_nav {background-color:#2f2f2f; position:absolute; top:-50px; width:100%; z-index:9;}
.skip_nav .skip_nav_wrap {width:1000px; margin:0 auto; padding:5px; text-align:center;}
.skip_nav .skip_nav_wrap a {color:#ffffff; font-size:14px; margin-right:10px;}

/* ------------------------------------ header ------------------------------------ */
#header {position: fixed; top: 0; left: 0; z-index: 700; width: 100%;}
#header .inner {display: flex; flex: row wrap; justify-content: space-between; align-items: center; height: 110px;}
#header .hd_logo {width: 297px;}

#header .gnb_wrap {display: flex; flex: row wrap; align-items: center; gap: 0 50px;}
#header .gnb_wrap .depth1 {}
#header .gnb_wrap .depth1 > a {display: block; font-size: 18px; font-weight: 400; color: #fff;}